Package: com.bandarhl.bhtwitter
Name: BHTwitter
Version: 5.0
Architecture: iphoneos-arm
Description: BHTwitter 5.0 for X 12.16
Maintainer: Bandar Alruwaili
Author: Bandar Alruwaili
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
